<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9e63b8">  <td>16/11/19 19:25:26</td>   <td>0</td> <td title="&gt;&gt;Testnganotationexample.beforeSuite()[pri:0, instance:abc.Testnganotationexample@215be6bb]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@967765295</td>   <td></td> </tr>
<tr bgcolor="9e63b8">  <td>16/11/19 19:25:26</td>   <td>14</td> <td>&nbsp;</td><td title="&gt;&gt;Testnganotationexample.beforeTest()[pri:0, instance:abc.Testnganotationexample@215be6bb]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@967765295</td>   <td></td> </tr>
<tr bgcolor="9e63b8">  <td>16/11/19 19:25:26</td>   <td>21</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Testnganotationexample.beforeClass()[pri:0, instance:abc.Testnganotationexample@215be6bb]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@967765295</td>   <td></td> </tr>
<tr bgcolor="9e63b8">  <td>16/11/19 19:25:26</td>   <td>26</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Testnganotationexample.beforeMethod()[pri:0, instance:abc.Testnganotationexample@215be6bb]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@967765295</td>   <td></td> </tr>
<tr bgcolor="9e63b8">  <td>16/11/19 19:25:26</td>   <td>27</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Testnganotationexample.testCase1()[pri:0, instance:abc.Testnganotationexample@215be6bb]">testCase1</td> 
  <td>main@967765295</td>   <td></td> </tr>
<tr bgcolor="9e63b8">  <td>16/11/19 19:25:26</td>   <td>39</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Testnganotationexample.afterMethod()[pri:0, instance:abc.Testnganotationexample@215be6bb]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@967765295</td>   <td></td> </tr>
<tr bgcolor="9e63b8">  <td>16/11/19 19:25:26</td>   <td>41</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Testnganotationexample.beforeMethod()[pri:0, instance:abc.Testnganotationexample@215be6bb]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@967765295</td>   <td></td> </tr>
<tr bgcolor="9e63b8">  <td>16/11/19 19:25:26</td>   <td>41</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Testnganotationexample.testCase2()[pri:0, instance:abc.Testnganotationexample@215be6bb]">testCase2</td> 
  <td>main@967765295</td>   <td></td> </tr>
<tr bgcolor="9e63b8">  <td>16/11/19 19:25:26</td>   <td>45</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Testnganotationexample.afterMethod()[pri:0, instance:abc.Testnganotationexample@215be6bb]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@967765295</td>   <td></td> </tr>
<tr bgcolor="9e63b8">  <td>16/11/19 19:25:26</td>   <td>46</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Testnganotationexample.afterClass()[pri:0, instance:abc.Testnganotationexample@215be6bb]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@967765295</td>   <td></td> </tr>
<tr bgcolor="9e63b8">  <td>16/11/19 19:25:26</td>   <td>47</td> <td>&nbsp;</td><td title="&lt;&lt;Testnganotationexample.afterTest()[pri:0, instance:abc.Testnganotationexample@215be6bb]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@967765295</td>   <td></td> </tr>
<tr bgcolor="9e63b8">  <td>16/11/19 19:25:26</td>   <td>79</td> <td title="&lt;&lt;Testnganotationexample.afterSuite()[pri:0, instance:abc.Testnganotationexample@215be6bb]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@967765295</td>   <td></td> </tr>
</table>
